.photo-grid__cells {
    max-width: 1184px;
    list-style: none;
    padding-left: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .photo-grid__cells {
        grid-gap: 14px;    }
}
@media screen and (max-width: 768px) {
    .photo-grid__cells {
        row-gap: 16px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid__cells {
        row-gap: 12px;
    }
}