.cover__subtitle {
    margin: 0px;
    text-align: center;
    max-width: 360px;
    color: #FFFFFF;
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.22;
    z-index: 2;
    padding-top: 32px;
}
@media screen and (max-width: 425px) {
    .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 16px;
}
}