@import url(./_border/header__link_border.css);
.header__link {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 18px;
    min-width: 22px;
    max-width: 30px;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.17;
}
.header__link:nth-child(2n) {
    margin-right: 0px;
}
@media screen and (min-width: 320px) and (max-width: 425px){
    .header__link {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.33;
  }
}
