.place__paragraph {
    margin: 0;
    color: #FFFFFF;
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 24px;
}
@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}
