.footer__list-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
@media screen and (max-width: 500px) {
    .footer__list-links {
        display: flex;
      flex-direction: column;
      }
      }