@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__background/cover__background.css);
.cover {
  min-height: 740px;
  position: relative;
  background: url(./../../images/__background.jpg) 50% 50% no-repeat;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
}
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
}
}
@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    background-size: 100%;
}
}