.cover__overlay {
    background-image: url(./../../../images/__background.jpg);
    background-repeat: no-repeat;
    text-decoration: none;
    width: 100%;
    min-height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-size: cover;
}

.cover__overlay::before {
    text-decoration: none;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(42, 44, 47,0.3);
}
.cover__overlay:hover::before {
    background-color: rgba(42, 44, 47,0.8);
}
@media screen and (max-width: 1024px) {
    .cover__overlay {
      min-height: 640px;
  }
  }
  
  @media screen and (max-width: 768px) {
    .cover__overlay {
      min-height: 480px;
  }
  }
  @media screen and (max-width: 425px) {
    .cover__overlay {
      min-height: 200px;
  }
  }