.lead__caption {
    width: 159px;
    color: #FFFFFF;
    font-size: 10px;
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 8px;
}
@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
}
}

@media screen and (max-width: 425px) {
    .lead__caption {
      margin-left: 16px;
}
}