@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
@import url(./__paragraphs/place__paragraphs.css);
.place {
    font-family: "inter", Arial, Helvetica, sans-serif;
    padding-top: 0;
    padding-bottom: 92px;
    display: grid;
    grid-template-columns: 460px auto;
    grid-gap: 48px 40px;
}
@media screen and  (max-width: 1024px) {
    .place {
        grid-template-columns: 440px auto;
        grid-gap: 48px 32px;
    }
}
@media screen and  (max-width: 768px) {
    .place {
        grid-template-columns: 340px auto;
        grid-gap: 48px 28px;
    }
}
@media screen and (max-width: 720px) {
    .place {
    grid-template-columns: auto;
}
@media screen and (max-width: 450px) {
.place:first-of-type {
    padding-top: 56px;
}