@import url(./__list-links/footer__list-links.css);
@import url(./__list-link/footer__list-link.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);
.footer {
    font-family: "inter", Arial, Helvetica, sans-serif;
    padding-top: 92px;
    padding-bottom: 24px;
    max-width: 1184px;
    margin: 0 48px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
@media screen and (min-width: 425px) and (max-width: 782px){
    .footer {
      padding-top: 88px;
      margin: 0 24px;
}
}
@media screen and (max-width: 570px) {
.footer {
    padding-top: 64px;
    margin: 0 16px;
    flex-direction: column;
}
}