.intro__title {
    color: #FFFFFF;
    max-width: 690px;
    font-family: "inter";
    font-size: 54px;
    font-weight: 900;
    line-height: 1.07;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .intro__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
}
}